.user-list {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
     flex-direction: column;
}

.user-card-container {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     justify-content: center;
}

.view-user {
     width: 100vw;
     min-height: 100vh;
     background-color: rgb(33, 33, 33);
     display: flex;
     justify-content: center;
     align-items: center;
}

.button-group {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.user-card {
     /* width: 260px; */
     border: 1px solid #ccc;
     border-radius: 5px;
     padding: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     /* background-color: gray; */
     background-image: url("../assets/background.png");
     background-size: cover;
     background-position: center;
     min-width: 350px;
     min-height: 600px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}

.profile-photo {
     width: 100%;
     height: 170px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 65px;
}

.profile-view {
     width: 150px;
     height: 150px;
     border-radius: 531px;
     overflow: hidden;
     border: 1px solid;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.profile-view>img {
     width: 100%;
     height: 100%;
}

.side-line {
     height: 35px;
     width: 2px;
     background: white;
}

.user-details {
     margin-top: 20px;
     color: black;
}

.user-details>h3 {
     font-size: 32px;
     margin: 0px;
     text-transform: uppercase;
}

.user-details>p,
.user-details>div>p {
     margin: 0px;
}

.employe_type {
     letter-spacing: 1px;
     word-spacing: 5px;
}

.button:first-child {
     background-color: #4caf50;
}

.button:first-child:hover {
     background-color: #275c29;
}

.button {
     margin-top: 10px;
     padding: 8px 16px;
     background-color: #505050;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     min-width: 100px;
}

.button:hover {
     background-color: #363636;
}

.button:focus {
     outline: none;
}


.search-bar-container {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 10px;
}

.search-bar {
     padding: 10px 15px;
     font-size: 16px;
     border-radius: 10px;
     background: transparent;
     color: white;
     border: 1px solid gray;
     width: 50%;
     min-width: 300px;
}

.show_qr_container {
     padding: 7px;
     margin-left: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border: 1px solid gray;
     border-radius: 10px;
}

.show_qr_container>input {
     width: 20px;
     height: 20px;
     cursor: pointer;
}

.navigation-bar-container {
     display: flex;
     justify-content: flex-end;
     align-items: flex-start;
     margin-bottom: 10px;
}

.navigation-bar-container>button {
     font-size: 16px;
     padding: 5px 10px;
     border-radius: 10px;
     border: 1px solid gray;
     background-color: transparent;
     cursor: pointer;
}

.brand-logo {
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 15px 0px;
}

.brand-logo>img {
     width: 75%;
     height: 80%;
     aspect-ratio: auto;
}

.goverment_id_details {
     margin-top: 20px;
}

.cross_line {
     width: 80%;
     height: 5px;
     background-color: #c5dc58;
     margin-top: 20px;
}